* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#logo {
    width: 5em;
    height: 4em;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  .container {
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
  }

  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }
  
  label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }
  
  label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1) {
    top: 0;
  }
  
  label span:nth-child(2) {
    top: 8px;
  }
  
  label span:nth-child(3) {
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top:8px;
  }